<div>
  <%= flash[:notice] %>
</div>

<div class=show>
    <p class=showtext> Title: <%= @book.title %> </p>

    <p class=showtext>Body: <%= @book.body %> </p>
</div>

<%= link_to "Edit", edit_book_path(@book.id) %>
<%= link_to "Back", books_path %>
